*{box-sizing: border-box;}



/* variables */

*>*{
    font-family: 'Poppins', cursive;
}




body{
    --text-light: rgba(243,244,246,0.9);
    --primary-dark: #fff;
    --secondary-dark: rgba(55,65,81,0.7);
    --bg-light:rgba(243,244,246,0.3);
    --bg-btn:rgba(67,56,202,0.8);
     background-color: #fff ; 
     color: #000;
}

body.dark{
    --text-light: rgba(55,65,81,1);
    --primary-dark: rgba(55,65,81,1);
    --secondary-dark: rgba(243,244,246,0.3);
    --bg-btn: rgba(219,233,29,0.897);
    --bg-light:rgba(45,49,54,0.5);
    background-color: #000;
    color: rgba(243,244,246,0.3);
}



 

@media (min-width: 1978px){
    body{
        font-size: 2rem;
    }
}

@media (max-width:974px){

    body{
        padding: 0.5rem;
    }

}


#feature-div{
    text-align: center;
    font-family: 'Poppins';
    padding: 3rem 4rem;

    

}

@media (max-width:974px){

    #feature-div{
        padding: 2rem;
    }

}



.feature-img{
    width: 100px;
    border-radius: 50%;
    padding-top: 1rem;
}

.intro-div{
    text-align: center;
    font-family: 'Poppins';
    padding: 3rem 4rem;
    
    
}

@media (max-width:974px){

    .intro-div{
        padding: 2rem;
    }

}

.portfolio-div{
    padding: 3rem 4rem;
    text-align: center;
    font-family: 'Poppins';
    
}



@media (max-width:974px){

    .portfolio-div{
        padding: 2rem;
    }

}
#portfolio-heading{
    padding: 3rem 4rem;
    color: #00ff6c;
    text-align: center;
    font-family: 'Poppins';

}
@media (max-width:536px) {
    #Portfolio-heading{
        padding: 0;
    }
}
@media (max-width:974px){

    .portfolio-div{
        padding: 2rem;
    }

}
.portfolio-img{
    width: 5%;
}
@media (max-width:1158px){

    .portfolio-img{
        max-width: 30%;
    }

}

@media (max-width:1158px){

    .work-img{
        max-width: 50%;
    }

}

#About-div{
    padding: 3rem 4rem;
    text-align: center;
    font-family: 'Poppins';
    
}
@media (max-width:974px){

    #About-div{
        padding: 2rem;
    }

}

#contact-div{
    display: flex;
    flex-direction: column;
    color: #00ff6c;
    text-align: center;
    font-family: 'Poppins';
}

#contact-heading,#About-heading,#feature-heading,#portfolio-heading{
    color: #00ff6c;
    margin: 6rem 0;
    border-bottom: 2px solid #808080 ;
    
    text-decoration: none;
}

.contact-link{
    text-decoration: none;
}

@media (max-width:974px){

    #contact-div{
        padding: 0.5rem;
    }

}

input[type="checkbox"]{
    -webkit-appearance: none;
    position: relative;
    width: 80px;
    height: 40px;
    border-radius: 50px;
    outline: none;
    background-image: url("https://i.postimg.cc/857jHw2q/Screenshot-2020-04-16-at-1-07-06-PM.png");
    background-size: cover; 
}

input[type="checkbox"]::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    background-color: var(--primary-dark);
    border-radius: 50px;


}

input[type="checkbox"]:checked::before{
    transform: translate(100%);

}

 input[type="checkbox"]:checked{
    background-image: url("https://quoteproverbs.com/wp-content/uploads/Evening.jpg");
} 
